:root {
  background-color: #3f3f3f;
}

* {
  margin: 0px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Login-text-field {
  display: flex;
  flex-direction: column;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Header-icon {
  padding: 2vh;
}

.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 3vh;
  padding-top: 8vh;
  padding-left: 8vh;
  padding-right: 8vh;
  color: #828282;
  border-bottom: 1px solid #e6fb60;
}

.App-title {
  display: flex;
  flex-direction: column;
  height: 3vh;
  text-align: center;
  font-size: 6vh;
  font-family: Gill Sans, sans-serif;
  color: #e6fb60;
  margin-bottom: 5vh;
}
.App-text {
  display: flex;
  flex-direction: column;
  height: 3vh;
  text-align: center;
  font-size: 3vh;
  font-family: Gill Sans, sans-serif;
  color: #e6fb60;
  margin-bottom: 5vh;
}

.App-link {
  color: #e6fb60;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
